frontend/build/*
!frontend/build/web/
!frontend/build/web/**

frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/build/app/
